<!DOCTYPE html>
<html>
<head>
    <title>View Doctors</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="hamburger" onclick="toggleMenu()">☰</div>

<div id="sidebar" class="sidebar">
    <a href="/">Home</a>
    <a href="/add_patient">Add Patient</a>
    <a href="/view_patients">View Patients</a>
    <a href="/add_doctor">Add Doctor</a>
    <a href="/view_doctors">View Doctors</a>
    <a href="/add_appointment">Add Appointment</a>
    <a href="/view_appointments">View Appointments</a>
</div>

<div id="overlay" class="sidebar-overlay" onclick="toggleMenu()"></div>

<header class="header">
    <div class="header-text">
        <h1>{{ page_title }}</h1>
        <p>{{ page_subtitle }}</p>
    </div>
</header>

<div class="container">

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Specialization</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for d in doctors %}
        <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>

            <td><a class="btn-edit" href="/edit_doctor/{{ d[0] }}">Edit</a></td>
            <td><a class="btn-delete" href="/delete_doctor/{{ d[0] }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</div>

<script>
function toggleMenu(){
    const sb = document.getElementById("sidebar");
    const ov = document.getElementById("overlay");
    sb.classList.toggle("active");
    ov.classList.toggle("active");
}
</script>

</body>
</html>